
.container {
  display: flex;
  flex-direction: column;
  /* overflow: hidden; */
  /* flex: 1; */
}

.content {
  flex: 1;
}

.commandBar {
  margin-bottom: 25px;
  border-radius: 5px;
}

.state {
  color: #fff;
  font-weight: bold;
  padding: 0 5px;
}
