
.container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex: 1;
}

.content {
  overflow: scroll;
  flex: 1;
}

.commandBar {
  margin-bottom: 25px;
  border-radius: 5px;
}

.detailsModal {
  max-width: 85vw;
  max-height: 85vh;
  padding: 15px;
}
