
/*
 * ProgressBar Component
 */

// Height of the bar
$progressBarHeight: 5px;

// Background of the progress bar container
$progressBarContainerBackground: #161627;

// Color of the progress bar
$progressBarFillColor: #E3B23C;
