
.container {
  display: flex;
  align-items: center;
  justify-content: center;

  background: #882dd2;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  min-height: 30px;
  height: 30px;
}
