
.container {
  display: flex;
  flex-direction: column;
}

.itemsContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 150px;
}

.controlsContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  // background: #0f0f1d;
  min-height: 70px;
}

.emptyBetText {
  max-width: 350px;
  padding: 10px;
  font-size: 1.1rem;
  font-weight: 400;
  text-align: center;
  color: #8f94a0;
  opacity: 0.2;
}
