
.currentGame {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  // background: repeating-linear-gradient(to right, #121322, #121322 35px, #161725 35px, #161725 75px);
  // transition: all 0.3s ease;

  canvas {
    width: 100%;
    min-width: 100%;
    height: 100%;
    min-height: 100%;
  }
}
